*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: auto;
    font-family: 'segoe ui','Courier New', Courier, monospace;
    background-color: rgb(65,59,75);
    color: #ffffff;
    margin-bottom: 2px solid rgb(82,20,188);
}

.photo {
    background-image: url(../css/photo.jpg);
    position: relative;
    float: left;
    margin-right: 10px;
    overflow: visible;
}

.avatar{
    width: 50px;
    height: 50px;
    border: 3px solid rgb(82,20,188);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-radius: 50px;
}

.header h1 {
    /* color: rgb(30,254,221); */
    display: inline-block;
    font-size: auto;
    text-shadow: 4px 1px 10px rgb(30,254,221);
}

.header h1:hover{
    color: rgb(30,254,221);
}

.nav {
    padding-top: 15px;
    margin-right: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    float: right;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav-list-item {
    display: inline-block;
    margin-left: 40px;
}

a {
    color: #e0eae4;
    text-decoration: none;
}

#link-1 {
    text-shadow: 4px 1px 10px rgb(167,162,8);
}

#link-1:hover{
    color: rgb(167,162,8);
}

#link-2 {
    text-shadow: 4px 1px 10px rgb(196,66,49);
}

#link-2:hover{
    color: rgb(196,66,49);
}

#link-3{
    text-shadow: 4px 1px 10px rgb(11,158,116);
}

#link-3:hover{
    color: rgb(11,158,116);
}

p {
    font-family: 'segoe ui','Courier New', Courier, monospace;
    font-size: 15px;
}

.hero-image {
    height: 140px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-image: url(../css/outraimagem.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 7px solid rgb(82,20,188);
}

.main-content {
    width: 75%;
    margin-right: 30px;
    float: right;
}

.content-box{
    flex: 1 0 100%;
    transition: flex-basis 500ms linear;
    margin-bottom: 50px;
    padding: 15px 25px;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    outline: 2px solid #e0eae4;
    outline-offset: -3px;
}

.box-header {
    position: relative;
    margin: -1.09rem 0 1.5rem 0;
    padding:auto;
    background-color: rgb(65,59,75);
    color: #ffffff;
    border: 2px solid;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}

.about-me {
    tab-size: 4;
    padding: 1rem 3rem;
    background-color:#ffffff;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(
        rgb(167,162, 8, 0.9) 30%,
        rgb(167, 162, 8, 0.8) 70%
     );
    display: flex;
    align-items: center;
}

#box-1 {
    outline-color: rgb(167,162,8);
}

#about-me {
    color: rgb(167,162,8);
}

.my-projects {
    tab-size: 4;
    padding: 1rem 3rem;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(
        rgb(196, 66, 49, 0.9) 30%,
        rgb(196, 66, 49, 0.8) 70%
    );
}

#box-2 {
    outline-color: rgb(196,66,49);
}

#my-projects {
    color: rgb(196,66,49);
}

.contact-me {
    tab-size: 4;
    padding: 1rem 3rem;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(
        rgb(11, 158 ,116, 0.9 ) 30%,
        rgb(11, 158, 116, 0.8 ) 70%
    );
}

#box-3 {
 outline-color: rgb(11,158,116);
}

#contact {
    color: rgb(11,158,116);
}

#about-me,
.about-me:hover {
    box-shadow: inset 0px 0px 20px rgb(167,162,8), 0 0 30px rgb(167,162,8);
}

#my-projects,
.my-projects:hover {
    box-shadow: inset 0px 0px 20px rgb(196,66,49), 0 0 30px rgb(196,66,49);
}

#contact,
.contact-me:hover {
    box-shadow: inset 0px 0px 20px rgb(11,158,116), 0 0 30px rgb(11,158,116);
}

.sidebar{

    /* margin-left: 80px;
    padding-left: 150px;
    padding-right: 40px;
    margin-right: 20px; */
    padding-right: 30px;
    padding: auto;
    margin: auto;
    float:right;
    height: 100%;
    width: auto;
    border-left: 12px;
    border-right: 3px solid rgb(82,20,188);
    flex-wrap: wrap;
}

.sidebar-icon {
    display: block;
    display: inline inline-block;
    flex-wrap: wrap;
    padding: auto;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 190px;

    /* margin-top: 25px;
    margin-bottom: 150px;
    max-width: 150px; */
 /* margin-bottom: 155px; */
}

.github {
    position: relative;
    margin: auto;
    padding:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    /* margin-left: 500px; */
}

ion-icon {
    color: #e0eae4;
}

.lamp {
    color: rgb(167,162,8);
}

.tools {
    color:  rgb(196,66,49)
}

.phone {
   color:  rgb(11,158,116);
}

html {
    background-color: rgb(65,59,75);
}

